body {
    direction: rtl;
}

@media only screen and (max-width:700px) {
    /* For mobile phones: */
    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-height:200px) {
    /* For mobile phones: */
    .container {
        height: 100px;
    }
}

.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 0) !important;
}

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 0) !important;
}

.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    margin: 5px !important;
}

#moran.carousel-indicators {
    margin: auto;
    position: sticky;
    margin-top: 17px;
}

.carousel-indicators {
    -webkit-appearance: none !important;
}

    .carousel-indicators li {
        -webkit-appearance: none !important;
        background-color: darkgrey !important;
    }

        .carousel-indicators li.active {
            -webkit-appearance: none !important;
            background-color: #ffc000 !important;
        }

    .carousel-indicators ol {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

.carousel-inner .item {
    height: -webkit-fill-available;
}

    .carousel-inner .item div {
        height: -webkit-fill-available;
    }


.w3-round-large {
    background-color: #ff9f03;
    font-size: larger;
    color: white;
    margin-right: auto !important;
    margin-left: auto !important;
    display: table !important;
    width: 120px;
}

.w3-button:hover {
    color: white !important;
    text-decoration: none !important;
    background-color: #ff9f03 !important;
}

#elec_div {
    /*padding: 20px;*/
}


.homepageImg {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: table;
    margin-bottom: 30px;
    margin-top: 20px;
}

.mainTitle {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 7px;
}

.blurb {
    font-size: large;
    text-align: center;
    margin-bottom: 35px;
}



#hitLink {
    color: #188a8d;
    text-decoration:underline;
}